## Stephen Ivkov

The file name is data.csv. It contains the information of all municipalities in New Jersery. Here are the column names explained. Im using functions and operations in pandas to find some cool insights in this dataset.

* Municipality: the name of the municipality 
* County: the county that the municipality belongs to 
* POP2010: the population of a municipality in 2010 
* POP2017: the population of a municipality in 2017 
* MunicipalType: the type of a municipality

In [8]:
#import libs
import numpy as np
import pandas as pd

Here im reading the file data.csv into pandas and naming it.

In [3]:
df = pd.read_csv ("data.csv", thousands=',', index_col="Municipality")
df

                         County  POP2010  POP2017 MunicipalType
Municipality
Aberdeen               Monmouth    18157    18232      Township
Absecon                Atlantic     8411     8283          City
Alexandria Township   Hunterdon     4938     4805      Township
Allamuchy                Warren     4323     4644      Township
Allendale                Bergen     6505     6906       Borough
...                         ...      ...      ...           ...
Woodlynne                Camden     2978     2947       Borough
Woodstown                 Salem     3505     3454       Borough
Woolwich Township    Gloucester    10200    12472      Township
Wrightstown          Burlington      802      785       Borough
Wyckoff                  Bergen    16635    16941      Township

[565 rows x 4 columns]

Lets find the municipality with the largest population in 2017.

In [4]:
df["POP2017"].idxmax()

'Newark'

How many municipalities are there in each county?

In [5]:
df['County'].value_counts()

Bergen        70
Monmouth      53
Burlington    40
Morris        39
Camden        37
Ocean         33
Hunterdon     26
Middlesex     25
Gloucester    24
Sussex        24
Atlantic      23
Essex         22
Warren        22
Somerset      21
Union         21
Passaic       16
Cape May      16
Salem         15
Cumberland    14
Mercer        12
Hudson        12
Name: County, dtype: int64

Which municipality has the largest increasing in population from 2010 to 2017?

In [6]:
difference = df["POP2017"]-df['POP2010']
difference.idxmax()

'Jersey City'

What is the total population of the Essex county in 2017?

In [7]:
df[df["County"]=="Essex"]['POP2017'].sum()

807959

Lets find the top five municipalities in population of 2017. List their county and the population of 2017. The output should be a dataFrame with two columns 'County' and 'POP2017', and the municipality as the index.

In [10]:
df2=df.sort_values(by='POP2017', ascending=False)
df2.iloc[1:6, [0,2]]

                 County  POP2017
Municipality
Jersey City      Hudson   270753
Paterson        Passaic   148678
Elizabeth         Union   130215
Lakewood          Ocean   102682
Edison        Middlesex   102450

What is the name of the township with the most population in 2010?

In [12]:
df3=df.sort_values(by='POP2010', ascending=False)
df3

                     County  POP2010  POP2017 MunicipalType
Municipality
Newark                Essex   277140   285154          City
Jersey City          Hudson   247597   270753          City
Paterson            Passaic   146199   148678          City
Elizabeth             Union   124969   130215          City
Edison            Middlesex    99967   102450      Township
...                     ...      ...      ...           ...
Loch Arbour        Monmouth      194      183       Village
Teterboro            Bergen       67       69       Borough
Walpack Township     Sussex       16       11      Township
Pine Valley          Camden       12       11       Borough
Tavistock            Camden        5        5       Borough

[565 rows x 4 columns]

How many boroughs are there in each county?

In [15]:
unique_counties = df.groupby('County')['MunicipalType'].nunique()
unique_counties

County
Atlantic      4
Bergen        4
Burlington    3
Camden        3
Cape May      3
Cumberland    3
Essex         3
Gloucester    3
Hudson        4
Hunterdon     4
Mercer        3
Middlesex     3
Monmouth      4
Morris        3
Ocean         2
Passaic       3
Salem         3
Somerset      2
Sussex        3
Union         4
Warren        3
Name: MunicipalType, dtype: int64

What is the total population of the Morris county in 2010? The output should be an integer.

In [16]:
df3[df3["County"]=="Morris"]['POP2010'].sum()

490286

Lets find the five municipalities with the smallest population of 2010.

In [17]:
df4=df.sort_values(by='POP2010', ascending=True)
df4.iloc[1:6, [0,1,3]]

                    County  POP2010 MunicipalType
Municipality
Pine Valley         Camden       12       Borough
Walpack Township    Sussex       16      Township
Teterboro           Bergen       67       Borough
Loch Arbour       Monmouth      194       Village
Cape May Point    Cape May      291       Borough