# CSIT 356: Assignment 2
## Stephen Ivkov
## 10797156

### Instruction
The file name is data.csv. It contains the information of all municipalities in New Jersery. The meaning of each colunmn is as follows:

* Municipality: the name of the municipality 
* County: the county that the municipality belongs to 
* POP2010: the population of a municipality in 2010 
* POP2017: the population of a municipality in 2017 
* MunicipalType: the type of a municipality

In this assignment, please use the functions and operations in pandas to answer the following questions. 


#### About submission
This assignment is due at 11:59 pm on Oct. 21st. You need to finish all questions of both In-class Assginment and Homework. Name your ipynb file as StudentName_assignment2.ipynb and submit it on Canvas.

PLEASE ENSURE THAT THE SCRIPT CAN CORRECTLY EXECUTE!!!

In [1]:
# import pandas
# Don't delete this cell
import numpy as np
import pandas as pd

## In-class Exercise

## Exercise 0 
Read the file data.csv as a dataFrame named **df**. Assign the column 'Municipal' as the row index.   
  
#### Note  
1. Use **read_csv** to read the file to be a dataFrame
2. Set the argument **index_col** to be the name of the first column
3. Set the argument **thousands** to be ',' since there are thousand separators in the file

In [2]:
df = pd.read_csv ("data.csv", thousands=',', index_col="Municipality")
df

                         County  POP2010  POP2017 MunicipalType
Municipality
Aberdeen               Monmouth    18157    18232      Township
Absecon                Atlantic     8411     8283          City
Alexandria Township   Hunterdon     4938     4805      Township
Allamuchy                Warren     4323     4644      Township
Allendale                Bergen     6505     6906       Borough
...                         ...      ...      ...           ...
Woodlynne                Camden     2978     2947       Borough
Woodstown                 Salem     3505     3454       Borough
Woolwich Township    Gloucester    10200    12472      Township
Wrightstown          Burlington      802      785       Borough
Wyckoff                  Bergen    16635    16941      Township

[565 rows x 4 columns]

## Exercise 1 (5 points)
What is the name of the municipality with the most population in 2017?

In [3]:
df["POP2017"].idxmax()

'Newark'

## Exercise 2  (5 points)
How many municipalities are there in each county? The output should be a Series with the county name as the index and the number as the value.  
#### Hint: 
Choose the column of 'County' and use **values_counts** function to calculate the frequencies of values in that column.

In [4]:
df['County'].value_counts()

Bergen        70
Monmouth      53
Burlington    40
Morris        39
Camden        37
Ocean         33
Hunterdon     26
Middlesex     25
Gloucester    24
Sussex        24
Atlantic      23
Warren        22
Essex         22
Union         21
Somerset      21
Cape May      16
Passaic       16
Salem         15
Cumberland    14
Mercer        12
Hudson        12
Name: County, dtype: int64

## Exercise 3 (5 points)
Which municipality has the largest increasing in population from 2010 to 2017?
The output should be a string.

In [5]:
difference = df["POP2017"]-df['POP2010']
difference.idxmax()

'Jersey City'

## Exercise 4 (5 points)
What is the total population of the Essex county in 2017? The output should be an integer. 
#### Hint
1. Create a new dataFrame which selects the rows that are 'Essex' in the column 'County'
2. Choose the column 'POP2017' of the new dataFrame
3. Apply sum method to get the sum of that column

In [6]:
df[df["County"]=="Essex"]['POP2017'].sum()

807959

## Exercise 5 (5 points)
Find the top five municipalities in population of 2017. List their county and the population of 2017. The output should be a dataFrame with two columns 'County' and 'POP2017', and the municipality as the index.

#### Hint
1. Sort **df** by the values in the column 'POP2017' in descending order. 
2. Choose the first 5 rows of the sorted **df**, and select their columns 'County' and 'POP2017'

In [7]:
# You should write your answer within this cell
# write your code of question 5 here

## Homework

### Question 1 (6 points)
What is the name of the township with the most population in 2010?

In [12]:
# You should write your answer within this cell
df["POP2010"].idxmax()

'Newark'

### Question 2 (6 points)
How many boroughs are there in each county? The output should be a Series with the county name as the index and the number as the value.

In [18]:
# You should write your answer within this cell
df['MunicipalType'].value_counts()

Borough     254
Township    241
City         52
Town         15
Village       3
Name: MunicipalType, dtype: int64

### Question 3 (6 points)
What is the total population of the Morris county in 2010? The output should be an integer.

In [10]:
# You should write your answer within this cell
# write your code of question 3 here

### Question 4 (7 points)
Find the five municipalities with least population of 2010. List their county, municipal type and the population of 2010. The output should be a dataFrame with three columns 'County', 'MunicipalType' and 'POP2010', and the municipality as the index.

In [11]:
# You should write your answer within this cell
# write your code of question 4 here